body
{
	 background: #fafafa;
	 font-family: 'Cabin', sans-serif;
     font-size: 16px;
     line-height: 21.875px;
}

.navbar-brand { position: relative; z-index: 2; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; transition: transform 0.3s; }

.navbar .navbar-collapse { position: relative; overflow: hidden !important; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

.navbar-nav.navbar-right .btn:not(.collapsed) {
    background-color: rgb(111, 84, 153);
    border-color: rgb(111, 84, 153);
    color: rgb(255, 255, 255);
}

.navbar.navbar-default .nav-collapse,
.navbar.navbar-inverse .nav-collapse {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(0px,-50px);
}
.navbar.navbar-default .nav-collapse.in,
.navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px,0px);
}

.container {
	 width: 90%;
	 padding: 20px 50px 50px 50px;
     margin-right: auto;
	 margin-left: auto;
	 background: #fafafa;
}



#loading-img {
	 position: absolute; width: 100%; height: 100%; background: url(Velocity.gif) no-repeat center center;
}

#loading-text { 
	display:block; 
	top: 55%;
	position:relative; 
	font-weight: bold; 
	text-align: center;
	vertical-align: middle;
}

.hiddenInfo {
	display: none;
}

.overlay {
    background: #e9e9e9;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

.bottom {
	margin: auto;
    width: 100%;
	position: absolute;
	bottom: -50px;
	overflow: hidden;
}

#footer {  
   bottom : 2;
   padding-top: 45px; 
   padding-bottom: 30px; 
   top: 90%;
   height : 40px;  
   margin-top : 40px; 
   margin: auto;
   width: 50%;
   text-align: center;  
  } 
