
/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */

.modal {
	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

.modal-dialog {
	border-radius: 10px;
	background-color : #ffffff;
}

form fieldset {
    display: block;
    position: relative;
    top: 50px;
    left: 10px;
    buttom: 10px;
    padding: 2em .5em .5em .5em; /*Make space at the top for the legend*/
    margin: 0 0 1em 0;
    border: none;
}

form fieldset legend {
    display: block;
    width: 100%;
    position: absolute;
    top: -2em;  /*Push the legend up by the same amount as the padding top of the fieldset*/
    left: -.5em; /*Push the legend to the left by the same amount as the padding left of the fieldset*/
    margin: 0;
    padding: 0;
}

p.header {
	font-family: Lobster, Monospace;
}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}

#Concordance-Search-div {
	margin: 20px;
}

.bottom {
	margin: auto;
    width: 100%;
	position: absolute;
	bottom: -50px;
	overflow: hidden;
}


.import_option {
	word-wrap: break-word;
}

.dataTables_filter {
	display: none; 
}

table {
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/* Hide TM group name, Modification Date from Users*/
.extraInfo {
	display : none;
}
